@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
}

/* Light Mode (Default) */
body {
  @apply bg-[#F0EFFE] text-brown leading-loose font-jost;
}

/* Dark Mode - Added higher specificity */
html.dark body,
html.dark {
  @apply bg-primary text-paper !important; /* Force text color */
}

@layer base {
  .dark-text-outline {
    -webkit-text-stroke: 2px white;
  }
   .text-outline {
    -webkit-text-stroke: 2px #3E3E3E;
  }
 
}
